@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "You can find me at:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<address>
    <a href="https://github.com/anonDfeline"><strong>GitHub</strong></a><br />
    <a href="https://www.linkedin.com/in/rvdmello96/"><strong>LinkedIn</strong></a><br />
    <a href="https://twitter.com/anonDfeline"><strong>Twitter</strong></a><br />
    <a href="https://www.facebook.com/anonDfeline"><strong>Facebook</strong></a><br />
    <a href="https://www.twitch.tv/anondfeline"><strong>Twitch</strong></a>
</address>