@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Secret Diary</h1>
    <p class="lead">Store your thoughts permanently and securely.</p>
    <p><a href="/DiaryEntries" class="btn btn-primary btn-lg">My Diary &raquo;</a></p>
</div>
<h1>Other Interesting Projects</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <h2>Help Next Door</h2>
        <p>
            The website allows its users to communicate with local people 
            (other users within the given distance of their current location) 
            in form of question and answers.
        </p>
        <p><a class="btn btn-default" href="https://helpnextdoor.herokuapp.com/" target="_blank">Visit Live &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Word Hunt</h2>
        <p>
            Hunt down the given word in a 12 by 12 grid of letters. 
            With a library of over 1500 words and randomly generated challeges,
            this website is a door to endless fun!
        </p>
        <p><a class="btn btn-default" href="http://wordhunt-com.stackstaging.com/">Visit Live &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tic Tac Toe</h2>
        <p>
            Human vs AI game of tic tac toe (naughts and crosses). 
            The AI follows a simple minimax algorithm.
            Impossible to beat AI. Up for a challenge?
        </p>
        <p><a class="btn btn-default" href="https://github.com/anonDfeline/TicTacToe/blob/master/dist/TicTacToe.jar">Download Jar &raquo;</a></p>
    </div>
</div>